# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Configuración local
local.properties

# Archivos generados
captures/
.externalNativeBuild/
.cxx/

# Sistema operativo
.DS_Store
Thumbs.db

.kotlin/